$primary-color: #00adb5;
$secondary-color: #393e46;
$ternary-color: #222831;
$background-color: #eeee;
$disabled-color: #a7a7a7;
$white: #ffff;
:root {
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-size: 10px;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: $background-color;
    min-height: 100%;
    position: relative;
  }
}
